<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Blog</a></li>
  <li><a href="{{ root_url }}/coreos">CoreOS</a></li>
  <li><a href="{{ root_url }}/mechanicalkeyboards">Mechanical Keyboards</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
</ul>
{% if site.tapir_token %}
  <form method="get" action="{{ root_url }}/search.html">
    <fieldset role="search">
      <input class="search" name="query" type="text" placeholder="Search..." x-webkit-speech />
    </fieldset>
  </form>
{% endif %}
