{{ partial "header" . }}

<main id="main">
    <h2>The page you were looking for does not exists.</h2>
    <div>
        You could try searching to see if you can find what you were looking for.

        <form action="https://google.com/cse" method="GET">
            <input type="hidden" name="cx" value="013909293779229500224:v37rx6hsidk" />
            <input name="ie" type="hidden" value="UTF-8">
            <div>
                <i class="icon-search"></i>
                <input type="search" class="form-control" name="q" placeholder="Search" />
            </div>
        </form>
    </div>
</main>